
@font-face{
    font-family: "miFuente";
    src: url(/home/roel/Fonts/etchasketch/EASTRIAL.ttf) format('truetype')
}

#page-title{
    text-align: center;
    font-family: "miFuente",sans-serif;
}
.grid{
    border:1px solid rgb(235, 233, 233);
    box-sizing: border-box;
    flex: 1 0 auto;
    opacity: .5;
}

.row{
    display:flex;
    flex: 1 0 auto;
}

#grid-container {
    aspect-ratio: 1/1;
    height: 60vh;
    display:flex;
    flex-direction: column;
    border: 16px solid red;
    border-radius: 16px;
    margin: 0 auto;
}

#layout {
    display:flex;
    flex-direction: column;
}



#button-container {
    display:flex;
    flex-direction: row;
    width: 60vh;
    align-self: center;
    margin-top: 4vh;
    justify-content: space-between;
}

#button-grid-generator {
    width: 15vh;
}

#fill-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1vh;
    width: 30vh;
}

#text-fill {
    font-size: 3.5vh;
}

#button-black-fill {
    aspect-ratio: 1/1;
    height: 3.6vh;
    background-color: black;
    border: .3vh solid gray;
    border-radius: .3vh;
    padding:0;
}


#button-rainbow-fill {
    aspect-ratio: 1/1;
    height: 3.6vh;
    padding:0;
    border: .3vh solid gray;
    border-radius: .3vh;
    display:flex;
    flex-direction: row;
}

#red-fill {
    background-color: red;
    height: 100%;
    flex-grow: 1;
}

#green-fill {
    background-color: rgb(34, 119, 34);
    height: 100%;
    flex-grow: 1;

}

#blue-fill {
    background-color: rgb(19, 53, 165);
    height: 100%;
    flex-grow: 1;
}

